<div class="col-lg-3 col-xl-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Brand</h3>
                <ul>
                    <li><a href="/brand/Nike">Nike</a></li>
                    <hr>
                    <li><a href="/brand/Adidas">Adidas</a></li>
                    <hr>
                    <li><a href="/brand/Puma">Puma</a></li>
                    <!-- <hr>
                    <li><a href="/brand/Skechers">Skechers</a></li> -->
                    <hr>
                    <li><a href="/brand/Relaxo">Relaxo</a></li>
                </ul>
            </div>
            
        </div>
        
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Style</h3>
                <ul>
                    <li><a href="#">Slip Ons</a></li>
                    <li><a href="#">Boots</a></li>
                    <li><a href="#">Sandals</a></li>
                    <li><a href="#">Lace Ups</a></li>
                    <li><a href="#">Oxfords</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Colors</h3>
                <ul>
                    <li><a href="#">Black</a></li>
                    <li><a href="#">White</a></li>
                    <li><a href="#">Blue</a></li>
                    <li><a href="#">Red</a></li>
                    <li><a href="#">Green</a></li>
                    <li><a href="#">Grey</a></li>
                    <li><a href="#">Orange</a></li>
                    <li><a href="#">Cream</a></li>
                    <li><a href="#">Brown</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Material</h3>
                <ul>
                    <li><a href="#">Leather</a></li>
                    <li><a href="#">Suede</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="side border mb-1">
                <h3>Technologies</h3>
                <ul>
                    <li><a href="#">BioBevel</a></li>
                    <li><a href="#">Groove</a></li>
                    <li><a href="#">FlexBevel</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>